# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment 
venv/
env/
ENV/
Lib/
Include/
Scripts/
share/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/
dist/

# 기타
*.sqlite3
*.db